{"openapi":"3.1.0","info":{"title":"Global Stock Logos API","version":"3.0.0","description":"Static JSON API for 77,258 listed companies in 68 markets: logo, identity, market cap in local currency, USD and INR, and a company profile. Every endpoint is a plain file served by a CDN, so there are no keys, no rate limits of our own and no server. Unknown values are null. CEO and chairman carry a source and a confidence level because open data can be out of date.","license":{"name":"MIT (code); logos belong to their owners, see DATA-SOURCES.md","url":"https://github.com/MrChartist/global-stock-logos/blob/main/LICENSE"},"contact":{"name":"@MrChartist","url":"https://mrchartist.com","email":"contact@mrchartist.com"}},"servers":[{"url":"https://cdn.jsdelivr.net/gh/MrChartist/global-stock-logos@main","description":"jsDelivr CDN (GitHub main)"}],"externalDocs":{"description":"Guide and examples","url":"https://github.com/MrChartist/global-stock-logos/blob/main/docs/API.md"},"tags":[{"name":"Catalogue"},{"name":"Company"}],"paths":{"/api/v1/index.json":{"get":{"tags":["Catalogue"],"operationId":"getIndex","summary":"API root","responses":{"200":{"description":"Endpoints, counts and data freshness","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Index"}}}}}}},"/api/v1/markets.json":{"get":{"tags":["Catalogue"],"operationId":"listMarkets","summary":"All markets","responses":{"200":{"description":"Markets, largest first","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Market"}}}}}}}},"/api/v1/markets/{market}.json":{"get":{"tags":["Catalogue"],"operationId":"getMarket","summary":"Companies of one market, largest first","parameters":[{"name":"market","in":"path","required":true,"schema":{"type":"string","examples":["in","us","korea"]},"description":"Lower-case market key from markets.json"}],"responses":{"200":{"description":"Slim company rows","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompanyRow"}}}}},"404":{"description":"Not found: the file does not exist (unknown market or ticker)"}}}},"/api/v1/companies/{market}/{ticker}.json":{"get":{"tags":["Company"],"operationId":"getCompany","summary":"Full profile of one company","parameters":[{"name":"market","in":"path","required":true,"schema":{"type":"string"}},{"name":"ticker","in":"path","required":true,"schema":{"type":"string","examples":["TCS","AAPL"]},"description":"Ticker as in the market list; URL-encode special characters"}],"responses":{"200":{"description":"The company","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"404":{"description":"Not found: the file does not exist (unknown market or ticker)"}}}},"/search-index-top.json":{"get":{"tags":["Catalogue"],"operationId":"searchIndexTop","summary":"The 2,000 largest companies in the same format, about 220 KB","description":"Use it to render a first screen quickly, then load the full index.","responses":{"200":{"description":"The top of the index","content":{"application/json":{"schema":{"type":"array","items":{"type":"array"}}}}}}}},"/search-index.json":{"get":{"tags":["Catalogue"],"operationId":"searchIndex","summary":"Compact index of every company, for search boxes","description":"Array of [ticker, name, market, format, yahooTicker, marketCapUsd]. Largest companies first; home-market listings ahead of depositary receipts.","responses":{"200":{"description":"The index","content":{"application/json":{"schema":{"type":"array","items":{"type":"array","prefixItems":[{"type":"string"},{"type":"string"},{"type":"string"},{"type":"string"},{"type":"string"},{"type":["number","null"]}]}}}}}}}}},"components":{"schemas":{"Index":{"type":"object","properties":{"api":{"type":"string"},"version":{"type":"string"},"dataRefreshedAt":{"type":"string"},"companies":{"type":"integer"},"markets":{"type":"integer"},"endpoints":{"type":"object"},"cdn":{"type":"string"}}},"Market":{"type":"object","required":["key","code","country","companies","url"],"properties":{"key":{"type":"string"},"code":{"type":"string"},"country":{"type":"string"},"companies":{"type":"integer"},"url":{"type":"string","format":"uri"}}},"CompanyRow":{"type":"object","required":["ticker","name"],"properties":{"ticker":{"type":"string"},"name":{"type":"string"},"sector":{"type":["string","null"]},"marketCapUsd":{"type":["number","null"]},"url":{"type":"string","format":"uri"}}},"Company":{"title":"Company","description":"One listed company: identity, classification, market cap, profile and logo. Unknown values are null, never guessed.","type":"object","required":["ticker","market","name","aliases","classification","marketCap","profile","logo","links","freshness"],"properties":{"ticker":{"type":"string","description":"Ticker as used in the logo file name"},"market":{"type":"string","description":"Upper-case market key, for example IN, US, KOREA"},"name":{"type":"string"},"legalName":{"type":["string","null"]},"aliases":{"type":"array","items":{"type":"string"}},"country":{"type":["string","null"]},"countryCode":{"type":["string","null"],"pattern":"^[A-Z]{2}$"},"flag":{"type":["string","null"]},"exchange":{"type":["string","null"]},"currency":{"type":["string","null"],"description":"Price currency; minor units such as GBX can differ from marketCap.currency"},"isin":{"type":["string","null"],"pattern":"^[A-Z]{2}[A-Z0-9]{9}[0-9]$"},"lei":{"type":["string","null"]},"cik":{"type":["string","null"]},"wikidata":{"type":["string","null"],"pattern":"^Q[0-9]+$"},"classification":{"type":"object","required":["sector","industry"],"properties":{"sector":{"type":["string","null"]},"industry":{"type":["string","null"]}},"additionalProperties":false},"marketCap":{"type":["object","null"],"required":["currency","local","usd","inr","asOf"],"properties":{"currency":{"type":["string","null"],"description":"Reporting currency of `local`"},"local":{"type":"number"},"usd":{"type":["number","null"],"description":"Approximate: converted at the daily rate in fx-rates.json"},"inr":{"type":["number","null"]},"asOf":{"type":["string","null"]}},"additionalProperties":false},"profile":{"type":"object","required":["website","founded","listingDate","headquarters","headquartersLocal","address","addressLocal","employees","ceo","chairman","slogan"],"properties":{"website":{"type":["string","null"],"format":"uri","description":"Site root only"},"founded":{"type":["integer","null"]},"listingDate":{"type":["string","null"],"format":"date","description":"First listing on an exchange, not the founding date"},"headquarters":{"type":["string","null"]},"headquartersLocal":{"type":["string","null"]},"address":{"type":["string","null"]},"addressLocal":{"type":["string","null"]},"employees":{"type":["integer","null"]},"ceo":{"type":["object","null"],"required":["name","source","confidence"],"properties":{"name":{"type":"string"},"source":{"type":"string"},"confidence":{"enum":["low","medium"],"description":"low = community data that may be out of date (Wikidata); medium = exchange or registry data"}},"additionalProperties":false},"chairman":{"type":["object","null"],"required":["name","source","confidence"],"properties":{"name":{"type":"string"},"source":{"type":"string"},"confidence":{"enum":["low","medium"],"description":"low = community data that may be out of date (Wikidata); medium = exchange or registry data"}},"additionalProperties":false},"slogan":{"type":["string","null"]}},"additionalProperties":false},"logo":{"type":"object","required":["svg","file","png","brandColor","brandColorSource","isPlaceholder"],"properties":{"svg":{"type":["string","null"],"format":"uri","description":"Vector logo; null for the 107 older companies that only have a PNG (use `file`)"},"file":{"type":"object","required":["url","format"],"properties":{"url":{"type":"string","format":"uri"},"format":{"enum":["svg","png"]}},"additionalProperties":false,"description":"The logo file in the logos/ folder, always present"},"png":{"type":["object","null"],"description":"PNG URLs by pixel size (64, 128, 256, 512); present for the 3,000 largest companies","additionalProperties":{"type":"string","format":"uri"}},"brandColor":{"type":["string","null"],"pattern":"^#[0-9A-F]{6}$","description":"Taken from the logo file: an approximation, not an official brand colour"},"brandColorSource":{"type":["string","null"]},"isPlaceholder":{"type":"boolean","description":"true = generated initials badge, not a real logo"}},"additionalProperties":false},"links":{"type":"object","required":["self","yahoo","website"],"properties":{"self":{"type":"string","format":"uri"},"yahoo":{"type":["string","null"]},"website":{"type":["string","null"]}},"additionalProperties":false},"sources":{"type":["object","null"],"description":"Where each profile value came from","additionalProperties":{"type":"string"}},"checks":{"type":["object","null"],"description":"A second source that disagreed with a value we hold"},"freshness":{"type":"object","required":["marketData","profile"],"properties":{"marketData":{"type":["string","null"]},"profile":{"type":["string","null"]}},"additionalProperties":false}},"additionalProperties":false}}}}